{% extends "base.html" %}
 
{% block title %}bvj_entry{% endblock %}
 
<body>
    {% block content %}
        <form action="/bvj_entry" method="POST">
            <section id="scroll">
                <div class="container px-5" >
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <br><br>
                                <h4 class="display-6">You are at bvj_entry node</h4><br><br>
                                <h4 class="display-6">Enter the unique key you got at the previous location</h4> 
                                <input type="text" class="form-control" id="entered_unique_key" name="entered_unique_key" placeholder="enter the unique key">
                                <div class="text-center"><button type="submit" class="btn btn-primary btn-xl rounded-pill mt-5">Submit</button></div>
                            </div>                        
                        </div>                    
                    </div>
                </div>
            </section>
        </form>
        {% if team_name %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p>Your team name</p> 
                            <p class="d-block p-2 bg-secondary text-white">{{ team_name }}</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section>          
        {% endif %}
        {% if next_riddle %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p>Your next riddle</p> 
                            <p class="d-block p-2 bg-secondary text-white">{{ next_riddle }}</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section>          
        {% endif %}
        {% if next_unique_key %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p>Your next unique key(Please screenshot or save this key)</p>
                            <p class="d-block p-2 bg-secondary text-white">{{ next_unique_key }}</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section> 
        {% endif %}

{% endblock %}
</body>
