{% extends "base.html" %}
{% block title %}Treasure Hunt{% endblock %}

<body>
    {% block content %}
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h2 class="masthead-heading mb-0">Welcome to Treasure Hunt</h2>
                    <h5 class="masthead-subheading mb-0">Organised by BVJ Science Centre & The National College Jayanagar</h5>                    
                </div>
            </div>
        </header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Instructions</h2>
                            <p>
                                <ul>
                                    <li>Enter the team name provided during registration.</li>
                                    <li>team name should be unique.</li>
                                    <li>Once you register, you will be given a unique key.</li>
                                    <li>Assemble at BVJ Science Centre Auditorium.</li>
                                    <li>Use a QR code scanner or install this </li>
                                    <li>Scan the QR code to go to next location & enter the 
                                        unique key you had got previously</li>
                                    <li>In every location, you will get a riddle and a unique key for next location. 
                                        you have to enter that unique key in next location</li>
                                </ul>
                            </p>
                            <a class="btn btn-primary btn-xl rounded-pill mt-5" href="register">Register</a>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section>
{% endblock %} 
</body>
