{% extends "base.html" %}
{% block title %}Treasure Hunt{% endblock %}

<body>
    {% block content %}
        <!-- Header-->
        <header class="masthead text-center text-white">
            <div class="masthead-content">
                <div class="container px-5">
                    <h2 class="masthead-heading mb-0">Welcome to Treasure Hunt</h2>
                    <h5 class="masthead-subheading mb-0">Organised by BVJ Science Centre & The National College Jayanagar</h5>                    
                </div>
            </div>
        </header>
        <!-- Content section 1-->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h2 class="display-4">Instructions</h2>
                            <p>
                                <ul>
                                    <li>Enter the team name provided during registration.</li>
                                    <li>Team name should be unique.</li>
                                    <li>Once you register, you will be given a unique key. 
                                        Save the key or screenshot the page.</li>
                                    <li>Assemble at BVJ Science Centre Auditorium at <insert date and time here>.</li>
                                    <li>You must have a QR code scanner in you phone to participate. If you don't have one, 
                                        Please download a QR code scanner from Google play store or iOS app store.</li>
                                    <li>You will be given an QR code to scan at BVJ Science Centre 
                                        at 17-Feb-2022 04:10 PM. Scan it and enter the key that you got 
                                        during registration. You will get a riddle for the next place 
                                        to goto and another unique key. Go to the location pointed 
                                        in the riddle, scan the QR code and enter the newer key you got.</li>
                                </ul>
                            </p>
                            <div class="text-center"><a class="btn btn-primary btn-xl rounded-pill mt-5" href="register">Register</a></div>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section>
{% endblock %} 
</body>
