{% extends "base.html" %}
 
{% block title %}psychology{% endblock %}
 
<body>
    {% block content %}
        <form action="/psychology" method="POST">
            <section id="scroll">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <br><br>
                                <label>Enter the unique key</label>
                                <input type="text" class="form-control" id="entered_unique_key" name="entered_unique_key" placeholder="enter the unique key">
                                <button type="submit" class="btn btn-primary btn-x2 rounded-pill mt-2">Submit</button>
                            </div>                        
                        </div>                    
                    </div>
                </div>
            </section>
        </form>
        {% if team_name %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p class="d-block p-2 bg-secondary text-white">{{ team_name }}</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section>          
        {% endif %}
        {% if next_riddle %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p>Riddle</p>
                            <p class="d-block p-2 bg-secondary text-white">{{ next_riddle }}</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section>          
        {% endif %}
        {% if next_unique_key %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p>Please Screenshot or save this key</p>
                            <p class="d-block p-2 bg-secondary text-white">Your next key - {{ next_unique_key }}</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section> 
        {% endif %}

{% endblock %}
</body>
