{% extends "base.html" %}
 
{% block title %}Register your team name{% endblock %}
 
<body>
    {% block content %}
        <form action="/register" method="POST">
            <section id="scroll">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <br><br>
                                <!--<h3>Register your team name</h3><br>-->
                                <h4>Enter your team name</h4><br>
                                <h6>Your team name is: A continous string of unique participant 
                                    IDs of all your teammates.</h6><br>
                                <h6>Example: AB12CD34EF56 is your team name if AB12, CD34 and EF56 are the
                                    unique participants IDs of your team members.
                                </h6>
                                <input type="text" class="form-control" id="team_name" name="team_name" placeholder="Enter team name">
                                <div class="text-center"><button type="submit" class="btn btn-primary btn-xl rounded-pill mt-5">Submit</button></div>
                            </div>                        
                        </div>                    
                    </div>
                </div>
            </section>
        </form>
        {% if team_name %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h4>Your team name</h4> 
                            <p class="d-block p-2 bg-dark text-white">Registered your team - {{ team_name }} successfully.</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section>          
        {% endif %}
        {% if next_unique_key %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <h4>Your next unique key(Please screenshot or save this key)</h4>  
                            <p class="d-block p-2 bg-dark text-white">{{ next_unique_key }}</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section> 
        {% endif %}
</form>
{% endblock %}
</body>
