{% extends "base.html" %}
 
{% block title %}Register your team name{% endblock %}
 
<body>
    {% block content %}
        <form action="/register" method="POST">
            <section id="scroll">
                <div class="container px-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-lg-1">
                            <div class="p-5">
                                <br><br>
                                <h2 class="display-4">Register your team name</h2>
                                <b>Enter your team name</b>
                                <input type="text" class="form-control" id="team_name" name="team_name" placeholder="Enter team name">
                                <button type="submit" class="btn btn-primary btn-x2 rounded-pill mt-2">Submit</button>
                            </div>                        
                        </div>                    
                    </div>
                </div>
            </section>
        </form>
        {% if team_name %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <p class="d-block p-2 bg-secondary text-white">Registered your team - {{ team_name }} successfully.</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section>          
        {% endif %}
        {% if next_unique_key %}
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-lg-1">
                        <div class="p-5">
                            <b>Your next unique key(Please screenshot or save this key)</b> 
                            <p class="d-block p-2 bg-secondary text-white">{{ next_unique_key }}</p>
                        </div>                        
                    </div>                    
                </div>
            </div>
        </section> 
        {% endif %}
</form>
{% endblock %}
</body>
