{% extends "base.html" %}
 
{% block title %}wait{% endblock %}

<body>
    {% block content %}
    {% if event_start_time %}
    <section id="scroll">
        <div class="container px-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <br><br>
                        <h4>Treasure hunt will start at {{ event_start_time }}<br>Please refresh the page for updates.</h4> 
                    </div>                        
                </div>                    
            </div>
        </div>
    </section>
    {% endif %}
    {% endblock %}
</body>